body{
    margin: 0;
    color:  #82a5ca;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
}

#hero{
 background-image: url(galaxy.gif);
 background-size: cover;
 padding:  10px 0 50px 0;
 width: auto;

}    

#title{
     text-shadow:5px 5px 4px black ;
}


.button{
    padding: 6px 12px;
    background: white;
    color: black;
    border: none;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
}
.ln{
    border-bottom: 4px solid white;
    padding: 8px 10px;
}
#logo{
    width:130;

}